{% extends "index.html" %}

{% block head%}
    {% load static %}
    {{ form.media }}
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{% static '/css/basicForm.css' %}">
{% endblock %}


{% block content %}
    <h2 class="text-dark m-4 text-center">{{ titulo }}</h2>

    <p class="text-success fw-bold bg-success-subtle text-center fs-4 w-100 rounded">{{ success }}</p>
    {% for observacao in observacoes %}
        <p>{{ observacao }}</p>
    {% endfor %}

    <button onclick="toggleIframe();" class="p-2 bg-primary text-white border-0 rounded rounded-3">Imagens</button>

    <iframe src="{% url linkColecao %}" data-url="{% url linkColecao%}" frameborder="0" class="w-100" id="iframe"></iframe>

    <form method="POST" class="d-flex flex-column gap-3 text-dark fs-4" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div>
            <input type="submit" value="Publicar" class="btn btn-primary mb-1">
            <a href="{% url 'contentManagement' %}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script defer src="{% static 'js/basicFormWithImages.js' %}"></script>
{% endblock %}
