{% extends "index.html" %}

{% block head %}
<title>Content Management</title>
{% endblock%} 

{% block content %}
    <h2>Content Management</h2>
    

    <h2>HOME</h2>
    <div class="d-flex gap-3 mb-3">
        <div class="card w-25">
            <div class="card-body">
                <h5 class="card-title">Novo item do Carousel de projetos</h5>
                <p class="card-text">Envie uma imagem(1600x900) e um link para criar um novo item no carrosel de projetos</p>
                <a href="{% url 'novoItemCarousel' %}" class="btn btn-primary">Novo projeto</a>
            </div>
        </div>
    </div>

    <h2>PROJETOS</h2>
    <div class="d-flex gap-3 mb-3">
        <div class="card w-25">
            <div class="card-body">
                <h5 class="card-title">Novo projeto</h5>
                <p class="card-text">Escreva sobre um novo projeto de pesquisa do laboratório</p>
                <a href="{% url 'novoProjeto' %}" class="btn btn-primary">Novo projeto</a>
            </div>
        </div>
    </div>

    <h2>REVISTA</h2>
    <div class="d-flex gap-3 mb-3">
        <div class="card w-25">
            <div class="card-body">
              <h5 class="card-title">Novo post de revista</h5>
              <p class="card-text">Escreva um post para a revista do laboratório</p>
              <a href="#" class="btn btn-primary">Novo post</a>
            </div>
        </div>
    </div>

    <h2>QUEM SOMOS</h2>
    <div class="d-flex gap-3 mb-3">
        <div class="card w-25">
            <div class="card-body">
              <h5 class="card-title">Novo membro</h5>
              <p class="card-text">Digite as crendenciais para o novo membro da pagina Quem Somos (Só faça isso se você recebeu permissão!)</p>
              <a href="#" class="btn btn-primary">Novo membro</a>
            </div>
        </div>
    </div>
{% endblock%}

{% block script%}
{% endblock%}