{% extends "index.html" %}

{% block head%}
    {% load static %}
    {{ form.media }}
    <title>Pagina de seleção</title>
    <link rel="stylesheet" href='{% static "/css/paginaDeSelecao.css" %}'>
{% endblock %}


{% block content %}
    <h2 class="text-dark m-4">Selecione qual deseja: </h2>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for membro in Membros %}
            <div class="col">
                <a class="card text-decoration-none" href="{% url 'editarMembroId' membro.id %}">
                    {% if membro.foto|slice:"0:4" == "http" %}
                        <img src="{{ membro.foto }}" class="card-img-top object-fit-cover" alt="foto de {{ membro.nome }}">
                    {% else%}
                        <img src="{% get_static_prefix %}{{ membro.foto }}" class="card-img-top object-fit-cover" alt="capa de {{ membro.nome }}">
                    {% endif %}
                    <div class="card-body">
                        <p>{{ membro.categoria }}</p>
                        <h5 class="card-title">{{ membro.nome }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}


