{% extends "index.html" %}

{% block head%}
    {% load static %}
    {{ form.media }}
    <title>Pagina de seleção</title>
    <link rel="stylesheet" href='{% static "/css/paginaDeSelecao.css" %}'>
{% endblock %}


{% block content %}
    <h2 class="text-dark m-4">Selecione qual deseja: </h2>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for item in items %}
            <div class="col">
                <a class="card text-decoration-none" href="{% url 'editarProjetoId' item.id %}">
                    {% if item.capa|slice:"0:4" == "http" %}
                        <img src="{{ item.capa }}" class="card-img-top object-fit-cover" alt="capa de {{ item.titulo }}">
                    {% else%}
                        <img src="{% get_static_prefix %}{{ item.capa }}" class="card-img-top object-fit-cover" alt="capa de {{ item.titulo }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.titulo }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
{% endblock %}


