{% extends "index.html" %}

{% block head%}
    {% load static %}
    <title>Novo Item do Carrousel</title>
    <link rel="stylesheet" href='{% static "/css/basicForm.css" %}'>
{% endblock %}


{% block content %}
    <h2 class="text-dark m-4 text-center">Novo Item do Carrousel</h2>

    <p>Imagem: coloque o link da imagem que aparecerá no carousel, a imagem devera ser 1600x900</p>
    <p>Url: link de onde o usuario irá quando clicar na imagem</p>

    <form method="POST" class="d-flex flex-column gap-3 text-dark fs-4">
        {% csrf_token %}
        {{ form }}
        <div>
            <input type="submit" value="Publicar" class="btn btn-primary mb-1">
            <a href="{% url 'contentManagement' %}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
        </div>
    </form>
{% endblock %}

{% block script %}
{% endblock %}


