{% extends "index.html" %}

{% block head%}
    {% load static %}
    {{ form.media }}
    <title>Novo Post De Revista</title>
    <link rel="stylesheet" href='{% static "/css/basicForm.css" %}'>
{% endblock %}

{% block content %}
    <h2 class="text-dark m-4 text-center">Novo Post De Revista</h2>

    <p>Url: Digite o que virá depois de "/revista/"" não use espaços nem caracteres especiais - exempo: "/revista/comoCriarJogos" vc digitaria "comoCriarJogos"</p>
    <p>Capa: Coloque o link da imagem que será a capa</p>

    <form method="POST" class="d-flex flex-column gap-3 text-dark fs-4">
        {% csrf_token %}
        {{ form }}
        <div>
            <input type="submit" value="Publicar" class="btn btn-primary mb-1">
            <a href="{% url 'contentManagement' %}"><input type="button" value="Cancelar" class="btn btn-danger"></a>
        </div>
    </form>
{% endblock %}

{% block script %}
{% endblock %}


