{% extends "index.html" %}

{% block head %}
<title>EducaRedes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/postsProjetos/educaRedes.css') }}">
{% endblock %}

{% block content %}

<h1 id="tituloEducaRedes" class="text-center">EducaRedes</h1>

<div id="gameScreenshotDiv" class="m-3">
    <img src="{{ url_for('static', filename='imgs/postsProjetos/educaRedes/educaRedes.jpg') }}" alt="menu do educaRedes">
</div>

<article id="educaRedesArticle">
    <div>
        <h2>A Tecnologia na Educação: Jogos Educacionais como Ferramenta Eficaz</h3>
        <p>
            A tecnologia tem transformado diversos aspectos da sociedade, e a educação não fica de fora dessa revolução. Cada vez mais, as instituições de ensino têm buscado incorporar recursos tecnológicos em suas práticas pedagógicas, com o objetivo de tornar o processo de aprendizagem mais dinâmico e interativo. Nesse contexto, os jogos educacionais têm se destacado como uma ferramenta eficaz para engajar os alunos e tornar o aprendizado mais lúdico e prazeroso.
        </p>
        <h2>Desafios da Educação: Utilizando Jogos para Ensinar a Arquitetura TCP/IP</h3>
        <p>
            Um tema que tem despertado grande interesse no campo da informática é a arquitetura TCP/IP, que é a base da internet e das redes de computadores. Trata-se de um assunto complexo, que exige do aluno um grande esforço para compreender seus conceitos e aplicações. Nesse sentido, o uso de jogos educacionais pode ser uma estratégia muito útil para tornar a aprendizagem mais acessível e interessante.
            <img id="gameScreenShots" src="{{ url_for('static', filename='imgs/postsProjetos/educaRedes/educaRedes3GameScreenshots.png') }}" alt="3 screenshots do educaRedes">
        </p>
        <h2>EducaRedes: Uma Plataforma Inovadora para o Ensino da Arquitetura TCP/IP</h3>
        <p>
            O uso de jogos educacionais como ferramenta de apoio no processo de ensino-aprendizagem tem sido amplamente explorado na educação. O EducaRedes se destaca por ser uma ferramenta que utiliza a gamificação para ensinar um tema complexo como a arquitetura TCP/IP. A escolha da engine Cocos2D-X se deu por sua facilidade de uso e a metodologia SCRUM4Games possibilitou um desenvolvimento ágil e eficiente do projeto. As escalas de autorrelato foram utilizadas para avaliar a viabilidade do jogo, e os resultados indicaram que o conteúdo é adequado para a disciplina, a interface é intuitiva e o jogo apresenta um nível de dificuldade que desafia o jogador sem tornar a experiência frustrante.
        </p>
        <p>
            É importante destacar que o EducaRedes é uma plataforma open source, o que significa que é livre para todos. Essa característica é especialmente relevante quando se trata de algo institucional, pois permite que a ferramenta seja acessível a um número maior de pessoas e possa ser utilizada de forma mais ampla. Além disso, o fato de ser open source possibilita que os usuários possam contribuir para o desenvolvimento e aprimoramento da plataforma, tornando-a ainda mais útil e eficaz para o ensino da arquitetura TCP/IP.
        </p>
        <p>
            Em resumo, o EducaRedes se apresenta como uma alternativa inovadora e eficaz para o ensino da arquitetura TCP/IP. O uso de jogos educacionais como ferramenta de apoio no processo de ensino-aprendizagem pode tornar a absorção do conhecimento mais acessível e interessante, especialmente em temas complexos como esse. O EducaRedes é uma excelente opção para acadêmicos que desejam aprender de forma lúdica e inovadora sobre a arquitetura TCP/IP.
        </p>
    </div>
</article>
{% endblock %}

{% block script %}
{% endblock %}