{% extends "index.html" %}

{% block head %}
<title>Peruaçu Digital</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/postsProjetos/peruacuDigital.css') }}">
{% endblock %}

{% block content %}

<h1 class="text-center">Peruaçu Digital</h1>

<div id="gameScreenshotDiv" class="m-3">
    <img src="{{ url_for('static', filename='imgs/postsProjetos/peruacuDigital/peruacuDigital.png') }}" alt="menu do jogo Peruaçu Digital">
</div>

<article id="peruacuDigitalArticle">
    <div>
        <h2>A Tecnologia na Educação e a Experiência Virtual Imersiva</h3>
        <p>
            A tecnologia tem se mostrado uma ferramenta cada vez mais importante para a educação e para a disseminação do conhecimento. Através de iniciativas inovadoras e criativas, é possível utilizar a tecnologia para oferecer experiências educacionais imersivas e realistas, contribuindo para a formação de profissionais mais capacitados e para a preservação do meio ambiente. Nesse contexto, o Peruaçu Digital é um projeto que se destaca por utilizar tecnologias de simulação para simular as cavernas do Parque Estadual do Peruaçu, oferecendo uma experiência virtual e educativa aos usuários. Neste texto, vamos explorar mais detalhadamente essa iniciativa e como ela pode contribuir para a disseminação do conhecimento e para a preservação do meio ambiente.
        </p>
        <h2>O Projeto Peruaçu Digital e a Simulação de Cavernas em Ambiente Virtual</h3>
        <p>
            O Peruaçu Digital é um projeto que tem como objetivo simular as cavernas do Parque Estadual do Peruaçu, oferecendo uma experiência virtual e imersiva aos usuários. A ideia é utilizar tecnologias de simulação para reproduzir as características das cavernas de forma realista, permitindo que pessoas que não têm acesso a esses locais possam ter uma experiência similar. A utilização de tecnologias de simulação tem se mostrado uma ferramenta eficaz para proporcionar experiências imersivas e educacionais. 
            <img id="gameScreenShots" src="{{ url_for('static', filename='imgs/postsProjetos/peruacuDigital/screenShot2.png') }}" alt="screenShot do jogo Peruaçu Digital">
        </p>
        <h2>Contribuições do Peruaçu Digital para o Conhecimento e a Preservação Ambiental</h3>
        <p>
            No caso do Peruaçu Digital, a simulação das cavernas permite que os usuários possam conhecer e explorar esses locais de forma virtual, sem precisar se deslocar fisicamente até o Parque Estadual do Peruaçu. Além disso, a utilização de tecnologias de simulação também contribui para a preservação do meio ambiente. Ao permitir que as pessoas tenham acesso a uma experiência virtual das cavernas, o projeto pode ajudar a reduzir o impacto ambiental causado pelo turismo em áreas naturais sensíveis.
        </p>
        <p>
            O Peruaçu Digital se apresenta, portanto, como uma iniciativa inovadora e educativa, que utiliza tecnologias de simulação para oferecer uma experiência imersiva e realista das cavernas do Parque Estadual do Peruaçu. A iniciativa pode contribuir para a disseminação do conhecimento sobre as belezas naturais do Brasil, bem como para a preservação desses locais sensíveis.
        </p>
        <p>
            <img id="gameScreenShots" src="{{ url_for('static', filename='imgs/postsProjetos/peruacuDigital/screenShot1.png') }}" alt="outra screenShot do jogo Peruaçu Digital">
        </p>
    </div>
</article>
{% endblock %}

{% block script %}
{% endblock %}