<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    {% block head %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'imgs/index/displayLogo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Display Lab</title>
</head>
<body>
    <nav>
        <div id="ifnmg-display" class="d-flex justify-content-center align-items-center flex-wrap">
            <img src="{% static 'imgs/index/ifnmg.jpg' %}" alt="ifnmg" width="30%" id="ifnmg-image">
            <div class="d-flex align-items-center w-25">
                <img src="{% static 'imgs/index/displayLogo.png' %}" alt="displayLogo" width="35%" id="display-image">
                <div class="text-center" id="display-name-lab">
                    <p id="display-title" class="fw-bold m-0">display</p>
                    <p id="lab-title" class="fw-bold m-0">Laboratório de Novas Tecnologias e Jogos Digitais</p>
                </div>
            </div>
            {% if request.user.is_authenticated %}
                <div class="d-flex justify-content-center align-items-center flex-column text-center">
                    <a href="{% url 'logout' %}" class="text-decoration-none text-dark bg-danger p-2 m-1 rounded w-100">LOGOUT</a>
                    <p class="p-1 rounded bg-secondary-subtle text-primary-emphasis m-1 w-100">{{ request.user.username }}</p>
                    <a class="text-decoration-none p-1 rounded bg-warning text-primary-emphasis m-1 w-100" href="{% url 'contentManagement' %}">Content Management</a>
                </div>
            {% else %}
                <a href="{% url 'login' %}" id="loginAnchor" class="invisible text-decoration-none text-white p-2 rounded-bottom">LOGIN</a>
            {% endif %}
        </div>
        <div class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav gap-5">
                        <a class="nav-link" id="navHome" aria-current="page" href="{% url 'home' %}">HOME</a>
                        <a class="nav-link" id="navProjetos" href="{% url 'projetos' %}">PROJETOS</a>
                        <a class="nav-link" id="navInstitucional" href="{% url 'institucional' %}">INSTITUCIONAL</a>
                        <a class="nav-link" id="navRevista" href="{% url 'revista' %}">REVISTA</a>
                        <a class="nav-link" id="navSobre" href="{% url 'sobre' %}">QUEM SOMOS</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-4 mb-5">
        {% block content%}
        {% endblock %}
    </div>

    <footer class="w-100 text-center text-white">
        <p class="m-0">Copyright@ 2024 Display - Todos os direitos reservados</p>
        <p class="m-0">Desenvolvido por Vytor Rennan Alves Carvalho</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock%}
</body>
</html>