{% extends "index.html" %}
{% block head %}
{% load static %}
{% load cache %}
<title>REVISTA</title>
<link rel="stylesheet" href="{% static 'css/revista.css' %}">
<link rel="stylesheet" href="{% static 'css/new/revista.css' %}">
{% endblock %}

{% block content%}
{% cache 300 revista request.get_full_path %}
    <!--<h4>Revista</h4>-->
    <!--<div class="row row-cols-1 row-cols-md-2">-->
    <!--    {% for post in page_obj %}-->
    <!--        <div class="col">-->
    <!--            <a class="card m-3 text-decoration-none" href="/revista/{{ post.url }}">-->
    <!--                <img src="{{ post.capa }}" class="card-img-top object-fit-cover" alt="capa de {{ post.titulo }}">-->
    <!--                <div class="card-body">-->
    <!--                    <h5 class="card-title text-center">{{ post.titulo }}</h5>-->
    <!--                    <p class="card-text"><small class="text-body-secondary">Edição: {{ post.edicao }} - {{ post.autor }}</small></p>-->
    <!--                    <p class="card-text">{{ post.resumo }}</p>-->
    <!--                </div>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    {% endfor%}-->
    <!--</div>-->
    <!---->
    <!---->
    <!--<div class="d-flex justify-content-between w-100">-->
    <!--    <div>-->
    <!--        {% if page_obj.has_previous %}-->
    <!--            <a href="?page=1" class="text-decoration-none text-primary">&laquo; first</a>-->
    <!--            <a href="?page={{ page_obj.previous_page_number }}" class="text-decoration-none text-primary">previous</a>-->
    <!--        {% endif %}-->
    <!--    </div>-->
    <!---->
    <!--    <div>-->
    <!--        {% for page in rangePages %}-->
    <!--            {% if page == page_obj.number%}-->
    <!--                <a href="?page={{ page }}" class="text-decoration-none text-white bg-primary p-1">{{ page }}</a>-->
    <!--            {% else %}-->
    <!--                <a href="?page={{ page }}" class="text-decoration-none text-dark p-1">{{ page }}</a>-->
    <!--            {% endif %}-->
    <!--        {% endfor %}    -->
    <!--    </div>-->
    <!---->
    <!--    <div>-->
    <!--        {% if page_obj.has_next %}-->
    <!--            <a href="?page={{ page_obj.next_page_number }}" class="text-decoration-none text-primary">next</a>-->
    <!--            <a href="?page={{ page_obj.paginator.num_pages }}" class="text-decoration-none text-primary">last &raquo;</a>-->
    <!--        {% endif %}-->
    <!--    </div>-->
    <!--</div>-->
    <!---->


    <main class="container mt-4">
    <p id="pagePath">HOME / REVISTA</p>
    <div id="titleDiv">
      <h1 id="title">REVISTA</h1>
    </div>

    <!--<div id="edicao" class="d-flex align-items-center gap-3 mb-4">-->
    <!--  <label for="edicao">EDIÇÃO</label>-->
    <!--  |-->
    <!--  <select class="form-select" aria-label="Default select example">-->
    <!--    <option value="2" selected>2</option>-->
    <!--    <option value="1">1</option>-->
    <!--    <option value="0">0</option>-->
    <!--  </select>-->
    <!--</div>-->

    <article id="content-posts">
      <div id="posts">

        {% for post in page_obj %}
        <div class="card border-0">
          <div class="row g-0">
            <div class="col-md-4" style="max-height: 256px;">
              <a href="/revista/{{ post.url }}" class="text-decoration-none text-black"><img src="{{ post.capa }}" class="object-fit-cover rounded-start" alt="Capa do post {{ post.titulo }}"
                width="100%" height="100%"></a>
            </div>
            <div class="col-md-8" style="max-height: 256px;">
              <div class="card-body">
                <a href="/revista/{{ post.url }}" class="text-decoration-none text-black"><h5 class="card-title">{{ post.titulo }}</h5></a>
                <p class="card-text"><small class="text-body-secondary">Por {{ post.autor }} <br /> {{ post.dataHora }} <br /> Edição {{ post.edicao }}</small>
                </p>
                <p class="card-text">{{ post.resumo }}</p>
              </div>
            </div>
          </div>
        </div>


        <hr class="line-posts">
        {% endfor %}


        <div class="d-flex justify-content-between w-100 mb-4">
        <div>
            {% if page_obj.has_previous %}
                <a href="?page=1" class="text-decoration-none text-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="text-decoration-none text-primary">previous</a>
            {% endif %}
        </div>

        <div>
            {% for page in rangePages %}
                {% if page == page_obj.number%}
                    <a href="?page={{ page }}" class="text-decoration-none text-white bg-primary p-1">{{ page }}</a>
                {% else %}
                    <a href="?page={{ page }}" class="text-decoration-none text-dark p-1">{{ page }}</a>
                {% endif %}
            {% endfor %}    
        </div>

        <div>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-decoration-none text-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="text-decoration-none text-primary">last &raquo;</a>
            {% endif %}
        </div>
    </div>


      </div>
      <div id="side-bar">
        <div>
          <p class="">Display Cast</p>
          <div class="d-flex mb-1">
            <img src="{% static 'imgs/revista/new/displayCastCapa.png' %}" alt="Capa do display cast"
              class="object-fit-cover rounded m-1 me-2" style="max-width: 50px;">
            <p class="side-bar-text">Display Cast #2 Em breve</p>
          </div>
          <div class="d-flex mb-1">
            <img src="{% static 'imgs/revista/new/displayCastCapa.png' %}" alt="Capa do display cast"
              class="object-fit-cover rounded m-1 me-2" style="max-width: 50px;">
            <p class="side-bar-text">Display Cast #1 Em breve</p>
          </div>
        </div>

        <hr class="line-side-bar">

        <div>
          <p class="">Revista</p>

          {% for post in ultimosPosts %}
          <a href="/revista/{{ post.url }}" class="text-decoration-none text-black">
          <div class="d-flex mb-1">
            <img src="{{ post.capa }}" alt="Capa do display cast"
              class="object-fit-cover rounded m-1 me-2" style="max-width: 50px;">
            <p class="side-bar-text">{{ post.titulo|truncatechars:50 }}</p>
          </div>
          </a>
          {% endfor %}
        </div>

        <hr class="line-side-bar">
      </div>
    </article>
  </main>

{% endcache %}
{% endblock %}

{% block script %}
{% endblock%}
