{% extends "index.html" %}
{% block head %}
{% load static %}
{% load cache %}
<title>REVISTA</title>
<link rel="stylesheet" href="{% static 'css/revista.css' %}">
{% endblock %}

{% block content%}
{% cache 300 revista request.get_full_path %}
    <h4>Revista</h4>
    <div class="row row-cols-1 row-cols-md-2">
        {% for post in page_obj %}
            <div class="col">
                <a class="card m-3 text-decoration-none" href="/revista/{{ post.url }}">
                    <img src="{{ post.capa }}" class="card-img-top object-fit-cover" alt="capa de {{ post.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ post.titulo }}</h5>
                        <p class="card-text"><small class="text-body-secondary">Edição: {{ post.edicao }} - {{ post.autor }}</small></p>
                        <p class="card-text">{{ post.resumo }}</p>
                    </div>
                </a>
            </div>
        {% endfor%}
    </div>


    <div class="d-flex justify-content-between w-100">
        <div>
            {% if page_obj.has_previous %}
                <a href="?page=1" class="text-decoration-none text-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="text-decoration-none text-primary">previous</a>
            {% endif %}
        </div>
        
        <div>
            {% for page in rangePages %}
                {% if page == page_obj.number%}
                    <a href="?page={{ page }}" class="text-decoration-none text-white bg-primary p-1">{{ page }}</a>
                {% else %}
                    <a href="?page={{ page }}" class="text-decoration-none text-dark p-1">{{ page }}</a>
                {% endif %}
            {% endfor %}    
        </div>
        
        <div>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-decoration-none text-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="text-decoration-none text-primary">last &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endcache %}
{% endblock %}

{% block script %}
{% endblock%}
