{% extends "index.html" %}
{% block head %}
{% load static %}
{% load cache %}
<title>HOME</title>
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content%}
{% cache 300 home request.get_full_path %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
        {% for num in iterableNumItens %}
            {% if num != 0 %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ num }}" aria-label="Slide {{ num }}"></button>
            {% else %}
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ num }}" class="active" aria-current="true" aria-label="Slide {{ num }}"></button>
            {% endif %}
        {% endfor %}
        </div>
        <div class="carousel-inner">
        {% for item in carousel %}
            {% if item != carousel|first %}
                <div class="carousel-item">
            {% else %}
                <div class="carousel-item active">
            {% endif %}
                    <a href="{{ item.url }}">
                        <img src="{{ item.imagem }}" class="d-block w-100" alt="">
                    </a>
                </div>   
        {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div id="revista" class="mt-5 p-4 rounded rounded-3 text-white fw-bold" onclick="adaptLastPosts();">
        <div id="revista-header" class="d-flex justify-content-between">
            <p onclick="adaptLastPosts();">Revista</p>
            <a href="{% url 'revista' %}" class="d-flex flex-nowrap align-items-center p-2 rounded rounded-5 border border-1 text-decoration-none text-white">
                ver tudo
                <img src="{% static 'imgs/home/seta.svg' %}" alt="seta" width="30em">
            </a>
        </div>
        <div id="ultimosPosts" class="d-flex align-items-center justify-content-center">
            {% for post in ultimosPosts %}
                <a class="d-flex flex-column align-items-center text-decoration-none text-white m-2" href="/revista/{{ post.url }}">
                    {% if post.capa|slice:"0:4" == "http" %}
                        <img src="{{ post.capa }}" alt="capa de {{ post.titulo }}" class="m-3 object-fit-cover" id="artigo">
                    {% else%}
                        <img src="{% get_static_prefix %}{{ post.capa }}" alt="capa de {{ post.titulo }}" class="m-3 object-fit-cover" id="artigo">
                    {% endif %}
                    <p class="">{{ post.titulo }}</p>
                </a>
            {% endfor %}
        </div>
    </div>
{% endcache %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock%}
