{% extends "index.html" %}
{% block head %}
{% load static %}
{% load cache %}
<title>HOME</title>

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/home/new/home.css' %}">
<link rel="stylesheet" href="{% static 'css/home/new/cast/cast.css' %}">
{% endblock %}

{% block content%}
{#{% cache 300 home request.get_full_path %}#}
    <!--<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">-->
    <!--    <div class="carousel-indicators">-->
    <!--    {% for num in iterableNumItens %}-->
    <!--        {% if num != 0 %}-->
    <!--            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ num }}" aria-label="Slide {{ num }}"></button>-->
    <!--        {% else %}-->
    <!--            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ num }}" class="active" aria-current="true" aria-label="Slide {{ num }}"></button>-->
    <!--        {% endif %}-->
    <!--    {% endfor %}-->
    <!--    </div>-->
    <!--    <div class="carousel-inner">-->
    <!--    {% for item in carousel %}-->
    <!--        {% if item != carousel|first %}-->
    <!--            <div class="carousel-item">-->
    <!--        {% else %}-->
    <!--            <div class="carousel-item active">-->
    <!--        {% endif %}-->
    <!--                <a href="{{ item.url }}">-->
    <!--                    <img src="{{ item.imagem }}" class="d-block w-100" alt="">-->
    <!--                </a>-->
    <!--            </div>   -->
    <!--    {% endfor %}-->
    <!--    </div>-->
    <!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">-->
    <!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <!--    <span class="visually-hidden">Previous</span>-->
    <!--    </button>-->
    <!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">-->
    <!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <!--    <span class="visually-hidden">Next</span>-->
    <!--    </button>-->
    <!--</div>-->
    <!---->
    <!---->
    <!--<div id="revista" class="mt-5 p-4 rounded rounded-3 text-white fw-bold" onclick="adaptLastPosts();">-->
    <!--    <div id="revista-header" class="d-flex justify-content-between">-->
    <!--        <p onclick="adaptLastPosts();">Revista</p>-->
    <!--        <a href="{% url 'revista' %}" class="d-flex flex-nowrap align-items-center p-2 rounded rounded-5 border border-1 text-decoration-none text-white">-->
    <!--            ver tudo-->
    <!--            <img src="{% static 'imgs/home/seta.svg' %}" alt="seta" width="30em">-->
    <!--        </a>-->
    <!--    </div>-->
    <!--    <div id="ultimosPosts" class="d-flex align-items-center justify-content-center">-->
    <!--        {% for post in ultimosPosts %}-->
    <!--            <a class="d-flex flex-column align-items-center text-decoration-none text-white m-2" href="/revista/{{ post.url }}">-->
    <!--                <img src="{{ post.capa }}" alt="capa de {{ post.titulo }}" class="m-3 object-fit-cover" id="artigo">-->
    <!--                <p class="">{{ post.titulo }}</p>-->
    <!--            </a>-->
    <!--        {% endfor %}-->
    <!--    </div>-->
    <!--</div>-->
    <!---->


    <article class="intro">
        <div class="text-intro">
            <h1>display</h1>
            <p class="about">
                Laboratório de Novas Tecnologias e Jogos Digitais <br> Instituto Federal do Norte de Minas Gerais - Campus Januária
            </p>
            <p class="motivationalPhrase">Entre em um mundo de inovação e criatividade</p>

            <a href="{% url 'projetos' %}" class="text-decoration-none"><button class="btn-intro border-0">
                <p>Conheça nossos Projetos</p>
            </button></a>
        </div>
    </article>

    <article class="notices">
        <!-- notícias games -->
        <div class="section-container">
            <div class="category-header">
                <div class="category-line"></div>
                <h3 class="category-title">Universo Gaming</h3>
                <div class="category-line"></div>
            </div>

            <!-- Swiper Container Principal -->
            <div style="position: relative;">
                <div class="swiper swiperGaming">
                    <div class="swiper-wrapper">
                        {% for noticia in noticias_games %}
                            <div class="swiper-slide">
                                <a href="{{ noticia.url_fonte }}" class="card card-news shadow-sm">
                                    <div class="image-container">
                                        <span class="source-badge badge-game">{{ noticia.fonte }}</span>
                                        <img src="{{ noticia.url_imagem}}" class="card-img-top" alt="Jogos">
                                    </div>
                                    <div class="card-body">
                                        <div class="news-date">{{ noticia.data_publicacao }}</div>
                                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                                        <p class="card-text">{{ noticia.descricao }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                
                <!-- Controles -->
                <div class="swiper-button-next swiper-btn-gaming-next"></div>
                <div class="swiper-button-prev swiper-btn-gaming-prev"></div>
                
            </div>

            
        </div>

        <!-- notícia pesquisas -->
        <div class="section-container">
            <div class="category-header">
                <div class="category-line"></div>
                <h3 class="category-title">Pesquisas Acadêmicas </h3>
                <div class="category-line"></div>
            </div>

            <!-- Swiper Container -->
            <div style="position: relative;">
                <div class="swiper swiperPesquisa">
                    <div class="swiper-wrapper">
                        {% for noticia in noticias_sbc %}
                            <div class="swiper-slide">
                                <a href="{{ noticia.url_fonte }}" class="card card-news shadow-sm">
                                    <div class="image-container">
                                        <span class="source-badge badge-game">{{ noticia.fonte }}</span>
                                        <img src="{{ noticia.url_imagem}}" class="card-img-top" alt="Jogos">
                                    </div>
                                    <div class="card-body">
                                        <div class="news-date">{{ noticia.data_publicacao }}</div>
                                        <h5 class="card-title">{{ noticia.titulo }}</h5>
                                        <p class="card-text">{{ noticia.descricao }}</p>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-button-next swiper-btn-pesquisa-next"></div>
                <div class="swiper-button-prev swiper-btn-pesquisa-prev"></div>
            </div>
            
        </div>
    </article>

    <article class="magazine">
        <div class="category-header">
            <div class="category-line"></div>
            <h3 class="category-title">Revista</h3>
            <div class="category-line"></div>
        </div>
        <div class="magazine-container">
            {% for post in ultimosPosts %}
                <div class="card card-news shadow-sm">
                    <a href="/revista/{{ post.url }}" class="image-container">
                        <img class="card-img-top" src="{{ post.capa }}" alt="Capa de {{ post.titulo}}">
                    </a>
                    <div class="card-body">
                        <div class="news-date">{{ post.dataHora }}</div>
                        <h5 class="card-title">{{ post.titulo }}</h5>
                        <p class="card-text">{{ post.descricao }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <a href="{% url 'revista' %}" class="text-decoration-none text-white d-flex"><button class="magazine-btn">Ver Mais</button></a>
    </article>

    <article class="games">
        <h2>JOGOS</h2>
        <div class="games-slider">
            <div class="games-track">

                <a href="/peruacu-digital" class="game-content">
                    <div class="picture">
                        <img src="{% static 'imgs/home/new/games/image 1(1).png' %}" alt="Peruaçu Digital">
                        <h3>Peruaçu Digital</h3>
                    </div>
                </a>

                <a href="/indisciplina-2d" class="game-content">
                    <div class="picture">
                        <img src="{% static 'imgs/home/new/games/image 1(2).png' %}" alt="Indisciplina 2D">
                        <h3>Indisciplina 2D</h3>
                    </div>
                </a>

                <a href="/exterminando-drogas" class="game-content">
                    <div class="picture">
                        <img src="{% static 'imgs/home/new/games/image 1.png' %}" alt="Exterminando Drogas">
                        <h3>Exterminando Drogas</h3>
                    </div>
                </a>

                <!-- copia para o loop infinito -->
                <a href="/peruacu-digital" class="game-content" aria-hidden="true" tabindex="-1">
                    <div class="picture">
                        <img src="{% static 'imgs/home/new/games/image 1(1).png' %}" alt="">
                        <h3>Peruaçu Digital</h3>
                    </div>
                </a>

                <a href="/indisciplina-2d" class="game-content" aria-hidden="true" tabindex="-1">
                    <div class="picture">
                        <img src="{% static 'imgs/home/new/games/image 1(2).png' %}" alt="">
                        <h3>Indisciplina 2D</h3>
                    </div>
                </a>

                <a href="/exterminando-drogas" class="game-content" aria-hidden="true" tabindex="-1">
                    <div class="picture">
                        <img src="{% static 'imgs/home/new/games/image 1.png' %}" alt="">
                        <h3>Exterminando Drogas</h3>
                    </div>
                </a>

            </div>
        </div>

        <button class="games-btn">Mais Jogos em breve</button>
    </article>

    <article class="cast">
        <div class="cast-container">
            <div class="cast-header">
                <div class="bars"></div>
                <h2>OUÇA OS <br> NOVOS <br> EPISÓDIOS</h2>
            </div>

            <div class="cast-list">
                {% for item in displaycasts|slice:":3" %}
                    <a href="{% url 'displaycast_detail' item.url %}" class="cast-content text-decoration-none">
                        <img src="{{ item.capa }}" alt="Capa de {{ item.titulo }}" class="cast-cover">
                        <div>
                            <p class="cast-title">{{ item.titulo }}</p>
                            <p class="date-cast-home">{{ item.dataHora|date:"d \d\e F \d\e Y" }}</p>
                        </div>
                    </a>
                {% empty %}
                    <div class="cast-content">
                        <img src="{% static 'imgs/home/new/cast/Capa DC.png' %}" alt="Capa do episodio" class="cast-cover">
                        <p>Nenhum episódio disponível no momento.</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'displaycast' %}" class="align-self-center text-decoration-none"><button class="cast-btn">Ver todos</button></a>
    </article>

{#{% endcache %}#}
{% endblock %}

{% block script %}

    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/swiper_carousel.js' %}"></script>
{% endblock%}
