{% extends "index.html" %}
{% block head %}
{% load static %}
{% load cache %}
<title>INSTITUCIONAL</title>
<link rel="stylesheet" href="{% static 'css/institucional.css' %}">
{% endblock %}

{% block content%}
{% cache 10 institucional request.get_full_path %}
<h2 class="mb-4">História do Laboratório de Desenvolvimento de Jogos Display</h2>

<div id="historiaDoDisplay">
    <p>O Laboratório de Desenvolvimento de Jogos Display teve seu início no Instituto Federal do Norte de Minas Gerais (IFNMG), localizado no campus Januária. O laboratório foi criado com o objetivo de incentivar a criação de jogos educacionais inovadores e promover a integração de tecnologia e educação.</p>

    <p>Desde sua fundação, o Display tem sido liderado e coordenado pela talentosa Joselice Lima. Com sua paixão por jogos e sua crença no poder da gamificação como ferramenta de aprendizado, Joselice tem desempenhado um papel fundamental no crescimento e sucesso do laboratório ao longo dos anos.</p>

    <p>O laboratório atraiu uma equipe multidisciplinar de estudantes e profissionais de diferentes áreas, como programação, design, pedagogia e psicologia. Essa diversidade permitiu que o Display abordasse de forma abrangente a criação de jogos educacionais, combinando elementos divertidos e interativos com conceitos educacionais relevantes.</p>

    <p>Ao longo de sua história, o laboratório desenvolveu vários jogos educacionais que tiveram um impacto significativo na comunidade escolar. Alguns desses jogos incluem:</p>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'imgs/institucional/exterminandoDrogas.png' %}" class="img-fluid rounded rounded-3" alt="displayCast">
            </div>
            <div class="col-md-10">
                <div class="card-body h-100">
                    <h5 class="card-title">Exterminando Drogas</h5>
                    <p class="card-text"> Um jogo que trata da conscientização sobre os efeitos das drogas e busca auxiliar os jovens a resistirem às pressões sociais, fornecendo informações precisas e estratégias de prevenção.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'imgs/institucional/peruacuDigital.png' %}" class="img-fluid rounded rounded-3" alt="displayCast">
            </div>
            <div class="col-md-10">
                <div class="card-body h-100">
                    <h5 class="card-title">Peruaçu Digital</h5>
                    <p class="card-text"> Um jogo que explora a preservação do meio ambiente e a importância da conservação do Parque Nacional Cavernas do Peruaçu, localizado na região, incentivando a conscientização ambiental e o turismo sustentável.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'imgs/institucional/educaRedes.jpg' %}" class="img-fluid rounded rounded-3" alt="displayCast">
            </div>
            <div class="col-md-10">
                <div class="card-body h-100">
                    <h5 class="card-title">EducaRedes</h5>
                    <p class="card-text">Um jogo que usa a tecnologia mais adequada para o ensino da disciplina de redes de computadores, tem como proposta ensinar e reforçar o conteúdo da arquitetura TCP/IP nas disciplinas de redes e nos testes realizados em sala de aula obteve êxito no que se propôs a fazer.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="{% static 'imgs/institucional/indisciplina2D.png' %}" class="img-fluid rounded rounded-3" alt="displayCast">
            </div>
            <div class="col-md-10">
                <div class="card-body h-100">
                    <h5 class="card-title">Indisciplina 2D</h5>
                    <p class="card-text">Indisciplina 2D:</strong>  Um jogo que aborda questões relacionadas à disciplina escolar, incentivando os alunos a adotarem comportamentos adequados e a lidarem com desafios acadêmicos e sociais.</p>
                </div>
            </div>
        </div>
    </div>

    <p>Esses jogos educacionais desenvolvidos pelo Display receberam reconhecimento tanto localmente quanto nacionalmente, conquistando prêmios em competições de jogos educativos. Além disso, o laboratório também publicou diversos artigos científicos, compartilhando suas experiências e metodologias inovadoras na criação de jogos educacionais.</p>
    
    <p>O Laboratório de Desenvolvimento de Jogos Display continua seu trabalho incansável, buscando sempre novas maneiras de combinar entretenimento e aprendizado. Sob a liderança dedicada de Joselice Lima, o laboratório continua a inspirar estudantes, educadores e pesquisadores a explorar o potencial dos jogos como ferramenta educacional, deixando um impacto duradouro na educação da região e além.</p>
</div>
{% endcache %}
{% endblock %}

{% block script %}
{% endblock%}
