{% extends "index.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/parceiros.css' %}">
{% endblock %}

{% block content %}
<main class="container mt-4">
    <p id="pagePath">HOME/INSTITUCIONAL/PARCEIROS</p>
    <div id="titleDiv">
        <h1 id="title">PARCEIROS</h1>
    </div>

    <div class="content-parceiros">
        <div id="parceiroscontent">
            <img src="{% static 'imgs/parceiros/rnp.png' %}" alt="Logos dos parceiros do Display Lab">
            <div class="partner-info">
                <h2 class="partner-title">REDE NACIONAL DE PESQUISA</h2>
                <p class="partner-text">A Rede Brasileira para Educação e Pesquisa disponibiliza internet segura e de alta capacidade, além de oferecer serviços personalizados e promover projetos de inovação. O sistema da rede inclui universidades, institutos educacionais e culturais, agências de pesquisa, hospitais de ensino, parques e polos tecnológicos.</p>
            </div>
        </div>
        <div id="parceiroscontent">
            <img src="{% static 'imgs/parceiros/fapemig.png' %}" alt="Logos dos parceiros do Display Lab">
            <div class="partner-info">
                <h2 class="partner-title">FUNDAÇÃO DE AMPARO À PESQUISA DO ESTADO DE MINAS GERAIS</h2>
                <p class="partner-text">FAPEMIG é a agência de indução e fomento à pesquisa e à inovação científica e tecnológica do Estado de Minas Gerais. Compete à Fundação apoiar projetos de natureza científica, tecnológica e de inovação, de instituições ou de pesquisadores individuais, que sejam considerados relevantes para o desenvolvimento científico, tecnológico, econômico e social do Estado.</p>
            </div>
        </div>
        <div id="parceiroscontent">
            <img src="{% static 'imgs/parceiros/cnpq.png' %}" alt="Logos dos parceiros do Display Lab">
            <div class="partner-info">
                <h2 class="partner-title">CONSELHO NACIONAL DE DESENVOLVIMENTO CIENTÍFICO E TECNOLÓGICO</h2>
                <p class="partner-text">Fundação pública vinculada ao Ministério da Ciência, Tecnologia e Inovação, tem como principais atribuições fomentar a pesquisa científica, tecnológica e de inovação e promover a formação de recursos humanos qualificados para a pesquisa, em todas as áreas do conhecimento.</p>
            </div>
        </div>
    </div>
    
</main>
{% include 'components/contato.html' %}
{% endblock %}
