{% extends "index.html" %}
{% block head %}
{% load static %}
<title>QUEM SOMOS</title>
<link rel="stylesheet" href="{% static 'css/sobre.css' %}">
{% endblock %}

{% block content%}

{% for categ in categorias %}
    <div class="mb-5">
        <h2>{{ categ }}</h2>
        <div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for membro in membros%}
                    {% if membro.categoria == categ %}
                        <div class="col">
                            <div class="card h-100 d-flex align-items-center">
                                <img src="{{ membro.foto }}" class="card-img-top" alt="foto de {{ membro.nome }}">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ membro.nome }}</h5>
                                    <p class="card-text">{{ membro.descricao }}</p>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <a href="{{ membro.saibaMais }}" class="saiba-mais card-tex text-decoration-none text-white fw-bold rounded rounded-5">SAIBA MAIS</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}

{% block script %}
{% endblock%}