input {
    width: 100%;
}

input[type="checkbox"] {
    width: auto;
}

input[type="file"] {
    width: auto;
}

textarea {
    width: 100%;
    height: 30vh;
}

#id_pagina {
    height: 130vh;
}

ul {
    color: red;
}

#content * {
    font-size: medium;
}

#content {
    margin: 2%;
}
