{% extends "index.html" %}

{% block head%}
    {% load static %}
    <title>Pagina de seleção</title>
    <link rel="stylesheet" href='{% static "/css/paginaDeSelecao.css" %}'>
{% endblock %}


{% block content %}
    <h2 class="text-dark m-4">Selecione qual deseja: </h2>

    <a href="javascript:history.back()"><input type="button" value="Voltar" class="btn btn-danger mb-3"></a>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for edicao in page_obj %}
            <div class="col">
                <a class="card text-decoration-none" href="{% url 'editarEdicaoDeRevistaId' edicao.id %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ edicao.edicao }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-between w-100">
        <div>
            {% if page_obj.has_previous %}
                <a href="?page=1" class="text-decoration-none text-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="text-decoration-none text-primary">previous</a>
            {% endif %}
        </div>
        
        <div>
            {% for page in rangePages %}
                {% if page == page_obj.number%}
                    <a href="?page={{ page }}" class="text-decoration-none text-white bg-primary p-1">{{ page }}</a>
                {% else %}
                    <a href="?page={{ page }}" class="text-decoration-none text-dark p-1">{{ page }}</a>
                {% endif %}
            {% endfor %}    
        </div>
        
        <div>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-decoration-none text-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="text-decoration-none text-primary">last &raquo;</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}