#navHome {
    color: black;
}

#revista {
    background-color: #173f44;
    font-size: 1em;
}

#revista img {
    max-height: 150px;
}

#revista-header p{
    font-size: 1.3em;
}

#revista-header a{
    font-size: 0.9em;
}

#ultimosPosts {
    overflow: hidden;
}

#ultimosPosts a {
    overflow: hidden;
}