
<div id="dl-painel">
    
    <div id="dl-aba" title="Controles de acessibilidade">
        <i class="fa-solid fa-universal-access"></i>
    </div>

    <div id="dl-painel-conteudo">

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vp-plugin-container"></div>
            </div>
        </div>

        <div class="dl-font-controls">
            <a href="#" class="dl-font-menor" id="dl-fonte-menor" title="Diminuir o tamanho da fonte"><span>A</span><span>⁻</span></a>
            <a href="#" class="dl-font-padrao" id="dl-fonte-padrao" title="Tamanho da fonte padrão">A</a>
            <a href="#" class="dl-font-maior" id="dl-fonte-maior" title="Aumentar o tamanho da fonte"><span>A</span><span>⁺</span></a>
        </div>

        <div class="dl-acessibilidade-container">
            <a href="#" class="dl-contraste-btn" id="dl-contraste" title="Alto contraste" accesskey="4">
                <i class="fa-solid fa-circle-half-stroke"></i>
            </a>
            <a href="{% url 'acessibilidade' %}" class="dl-acessibilidade-btn" title="Acessibilidade">
                <i class="fa-solid fa-universal-access"></i>
            </a>
            <a href="{% url 'mapa' %}" class="dl-site-map-btn" title="Mapa do site">
                <i class="fa-solid fa-sitemap"></i>
            </a>
        </div>

    </div>
</div>
