
<div id="dl-painel">
    
    <div id="dl-aba" title="Controles de acessibilidade">
        <i class="fa-solid fa-universal-access"></i>
    </div>

    <div id="dl-painel-conteudo">

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vp-plugin-container"></div>
            </div>
        </div>

        <div class="dl-font-controls">
            <a href="#" class="dl-font-menor" id="dl-fonte-menor" title="Diminuir o tamanho da fonte"><span>A</span><span>⁻</span></a>
            <a href="#" class="dl-font-padrao" id="dl-fonte-padrao" title="Tamanho da fonte padrão">A</a>
            <a href="#" class="dl-font-maior" id="dl-fonte-maior" title="Aumentar o tamanho da fonte"><span>A</span><span>⁺</span></a>
        </div>

        <div class="dl-contraste-container">
            <a href="#" class="dl-contraste-btn" id="dl-contraste" title="Alto contraste">
                <i class="fa-solid fa-circle-half-stroke"></i> Alto contraste
            </a>
        </div>

    </div>
</div>
