{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/contato.css' %}">
{% endblock %}
<div class="contato-footer">
    <h2>ENTRE EM CONTATO CONOSCO</h2>
    <div class="contato-info">
        <p>Para entrar em contato com nossa equipe, ligue para (38) xxxxx-xxxx ou mande um email no endereço abaixo!</p>
    </div>
    <strong>displaylabo@gmail.com</strong>
    <div class="redes-info">
        <p>Confira nossas redes sociais:</p>
        <div class="redes">
            <a href="">
                <img src="{% static 'imgs/contato/facebook.png' %}" alt="Facebook">
            </a>
            <a href="">
                <img src="{% static 'imgs/contato/insta.png' %}" alt="Instagram">
            </a>
            <a href="">
                <img src="{% static 'imgs/contato/youtube.png' %}" alt="YouTube">
            </a>
            <a href="">
                <img src="{% static 'imgs/contato/tiktok.png' %}" alt="TikTok">
            </a>
        </div>
    </div>
</div>