:root {
    --homeColor: #197cc0;
}

#homeNav {
    background-color: var(--homeColor);
    color: white !important;
}

#content {
    background-color: var(--homeColor);
    padding: 2em;
    background-image: url("../imgs/home/background/textura-1.gif");
}

#content > div {
    margin-bottom: 5vh;
}

h2 {
    color: white;
}

.card {
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.card-img > img {
    width: 100% !important;
}

.border-card {
    border: 20px solid transparent !important;
}

#cardSlider > #recipeCarousel > .carousel-control-prev,
#cardSlider > #recipeCarousel > .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 767px) {
    #cardSlider > #recipeCarousel > .carousel-inner .carousel-item > div {
        display: none;
    }
    #cardSlider > #recipeCarousel > .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#cardSlider > #recipeCarousel > .carousel-inner .carousel-item.active,
#cardSlider > #recipeCarousel > .carousel-inner .carousel-item-next,
#cardSlider > #recipeCarousel > .carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    #cardSlider > #recipeCarousel > .carousel-inner .carousel-item-end.active,
    #cardSlider > #recipeCarousel > .carousel-inner .carousel-item-next {
      transform: translateX(33.33333%);
    }
    
    #cardSlider > #recipeCarousel > .carousel-inner .carousel-item-start.active, 
    #cardSlider > #recipeCarousel > .carousel-inner .carousel-item-prev {
      transform: translateX(-33.33333%);
    }
}

#cardSlider > #recipeCarousel > .carousel-inner .carousel-item-end,
#cardSlider > #recipeCarousel > .carousel-inner .carousel-item-start { 
  transform: translateX(0);
}


#conteudos {
    display: flex;
    gap: 10%;
    padding: 2% 5%;
    font-weight: bold;
}

@media (max-width: 990px) {
    #conteudos {
        flex-direction: column;
    }
}

#conteudos > div {
    margin: 10px 0px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20px;
    border-radius: 10px;
}

#conteudos > div > h3 {
    color: whitesmoke;
}

#podcast {
    background-image: url("../imgs/home/conteudos/banner3.svg");
    background-size: cover !important;
    /*background-color: #38649c;*/
}

#biblioteca {
    background-image: url("../imgs/home/conteudos/banner4.svg");
    background-size: cover !important;
    /*background-color: #80247c;*/
}

#games {
    background-image: url("../imgs/home/conteudos/banner5.svg");
    background-size: cover !important;
    /*background-color: #203c8c;*/
}
