#navHome {
    color: black;
}

#revista {
    background-color: #173f44;
    font-size: 1vw;
}

#revista img {
    max-height: 150px;
}

#revista-header p{
    font-size: 1.5vw;
}

#revista-header a{
    font-size: 1.1vw;
}

@media (max-width: 600px) {
    #revista {
        font-size: 3.5vw !important;
    }

    #revista-header p{
        font-size: 4vw !important;
    }
    
    #revista-header a{
        font-size: 2.9vw !important;
    }
}

@media (max-width: 940px) {
    #revista {
        font-size: 2vw;
    }

    #revista-header p{
        font-size: 3vw;
    }
    
    #revista-header a{
        font-size: 2vw;
    }
}