{% extends "index.html" %}
{% block head %}
{% load static %}
<title>PROJETOS</title>
<link rel="stylesheet" href="{% static 'css/projetos.css' %}">
{% endblock %}

{% block content%}

    {% for p in projeto %}
        <div class="card mb-5">
            <div class="row g-0">
                <div class="col-md-2">
                    {% if p.capa|slice:"0:4" == "http" %}
                        <img src="{{ p.capa }}" class="object-fit-cover" width="100%" height="100%" alt="capa de {{ p.titulo }}">
                    {% else%}
                        <img src="{% get_static_prefix %}{{ p.capa }}" class="rounded-start object-fit-cover" width="100%" height="100%" alt="capa de {{ p.titulo }}">
                    {% endif %}
                </div>
                <div class="col-md-10">
                    <div class="card-body h-100">
                        <h5 class="card-title">{{ p.titulo }}</h5>
                        <p class="card-text">{{ p.resumo }}</p>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="/projetos/{{ p.url }}" class="saiba-mais card-tex text-decoration-none text-white fw-bold rounded rounded-5">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
{% endblock%}