:root {
    --projetosColor: rgb(57,126,255,0.9);
}

#projetosNav {
    background-color: var(--projetosColor);
    color: white !important;
}

#content {
    background-color: var(--projetosColor);
    padding: 2em;
}