#display-title {
    color: #00879a;
    font-size: 2vw;
}

#lab-title {
    color: #00a0dd;
    font-size: 0.9vw;
}

#redes-sociais {
    top: 3vw;
    right: 7vw;
}

.nav-link {
    color: #00a0dd;
}

.navbar-nav {
    font-size: 1.4vw;
    gap: 2.5vw;
}

@media (max-width: 991.98px) {
    .navbar-nav {
        gap: 0px !important;
        font-size: 3.5vw;
    }

    #ifnmg-display {
        justify-content: end !important;
        margin-right: 15px;
    }

    #display-name-lab {
        width: 50%;
    }

    #redes-sociais {
        top: 0px !important;
        position: relative !important;
        flex-direction: row !important;
    }

    nav {
        display: flex;
        flex-direction: row-reverse !important;
        align-items: start;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    #ifnmg-image {
        width: 60%;
    }

    #display-image {
        width: 60%;
    }

    #redes-sociais {
        right: 0px !important;
    }
    
    #redes-sociais img {
        width: 6vw;
    }
}

footer {
    background-color: #173f44;
}